// =====================================================
// Typography
$fontFamily = Ubuntu, Helvetica, Arial, sans-serif
$fontColor = #555
$fontSize = 10px
$fontWeight = 400
$lineHeight = 1.4
// =====================================================
// Media
$xw = 3060px
$wd = 2560px // Wide
$xl = 1920px
$lg = 1280px // Large
$ml = 1024px
$md = 768px // Medium
$ms = 640px
$sm = 480px // Small
$xs = 320px
// =====================================================
// Colors
$colorBlue = #444ce0
$colorError = #fc5c65
$colorGrey = #999999
$colorPurple = #8854d0
$colorSuccess = #26de81
$colorWarning = #fed330
$colorWhite = white
// Soft (neutral) colors
$colorSoft0 = #303133
$colorSoft1 = #606266
$colorSoft2 = #909399
$colorSoft3 = #c0c4cc
// Light colors
$colorLight0 = #dcdfe6
$colorLight1 = #e4e7ed
$colorLight2 = #ebeef5
$colorLight3 = #f2f6fc
